{{ define "main" }}
  <link rel="stylesheet" href=/css/essay.css>

  <main>

    <div class=title-bar> <h1 id="{{ .Title }}">{{ .Title }}</h1> </div>

    <div class=progress><div class=progress-inside></div></div>

    <article id="article">
      <div class=width-limit>
      {{ .Content }}
      </div>
    </article>
  </main>
  

  </div>

  <script>

    let body = document.body,
        html = document.documentElement;

    let height = Math.max(
            body.scrollHeight,
            body.offsetHeight,
            html.clientHeight,
            html.scrollHeight,
            html.offsetHeight
        );

    const updateProgress = () => {

      let docElem = document.documentElement, 
      docBody = document.body,
      scrollTop = docElem['scrollTop'] || docBody['scrollTop'],
      scrollBottom = (docElem['scrollHeight'] || docBody['scrollHeight']) - window.innerHeight,
      scrollPercent = scrollTop / scrollBottom * 100.1 + '%';
      document.querySelector(".progress-inside").style.height = scrollPercent
    };

    setInterval( () => {
       updateProgress()
    }, 100)

  </script>

{{ end }}  